fastapi
uvicorn
elevenlabs
faster-whisper
soundDevice
mediapipe
opencv-python
silero_vad
torch
ultralytics
pypdf2
python-docx
langchain
langchain-google-genai
pydantic>=1.7.0
python-multipart
python-dotenv
langchain_groq
SQLAlchemy>=2.0.0
psycopg2-binary>=2.9.9
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
redis